@font-face {
    font-family: 'HN-Reg';
    src: url('HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HN-Bold';
    src: url('HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HN-Med';
    src: url('HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
