:root {
  font-size: 16px; }

body, html {
  font-family: "HN-Med", Arial ,sans-serif;
  margin: 0;
  padding: 0; }

.red-square {
  width: 195px;
  height: 160px;
  position: absolute;
  transform: rotate(-212deg);
  top: -80px;
  float: left;
  background-color: #E30000; }

.nav {
  height: 60px; }
  .nav__logo {
    letter-spacing: -0.087rem;
    font-family: "HN-Bold", sans-serif;
    font-size: 2.75rem;
    float: left;
    top: 20px;
    position: relative; }
  .nav__list {
    list-style-type: none;
    padding: 0;
    display: inline;
    float: right;
    top: 20px;
    position: relative; }
    .nav__list--item {
      padding-left: 20px;
      display: inline;
      font-size: 14px; }
      .nav__list--item a:link {
        text-decoration: none;
        color: #9B9B9B; }
      .nav__list--item a:visited {
        color: #9B9B9B; }
      .nav__list--item a:hover {
        color: black; }

.main-container {
  width: 100%;
  height: auto;
  margin: auto; }

.sub-container {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px; }

.manifesto {
  background-color: #E30000;
  color: #fff; }
  .manifesto hr {
    background-color: #fff; }

.preface, .scheduling {
  background-color: #F7F7F7; }

.media-kit {
  width: 100px;
  height: 45px;
  background-color: #E30000;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 2.8rem; }

.section {
  height: 100vh;
  width: 100%; }
  .section__list {
    padding: 0;
    width: 50%;
    list-style-type: none;
    color: #9B9B9B;
    float: left; }
    .section__list--social {
      width: 100%; }
    .section__list--item {
      display: block;
      margin: 3px 0 3px 0; }
      .section__list--item a:link {
        color: #4A4A4A;
        text-decoration: none; }
      .section__list--item a:visited {
        color: black; }
      .section__list--item a:hover {
        color: red; }
    .section__list--head {
      padding: 0 0 10px 0;
      font-family: "hn-Bold", Arial, sans-serif;
      color: black; }
  .section__column {
    width: 50%;
    height: 100%;
    float: left; }
    .section__column--connect {
      width: 30%;
      float: right; }
    .section__column--heading {
      font-size: 2.5rem;
      font-family: "HN-Bold", sans-serif;
      letter-spacing: -0.07rem; }
    .section__column--subheading {
      font-family: "HN-Med", sans-serif;
      font-size: 0.9375rem; }
    .section__column--break {
      width: 100%;
      height: 2px;
      border: none;
      background-color: #E30000; }
    .section__column--body {
      font-family: "HN-Bold", sans-serif;
      letter-spacing: -0.05px;
      font-size: 1.125rem;
      padding-bottom: 20px; }
    .section__column--vertical {
      padding-top: 30vh; }

.schedule-main {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  letter-spacing: -0.03rem; }

.today-session {
  float: left;
  width: 50%;
  height: 100%; }

.upcoming {
  float: left;
  width: 50%;
  height: 100%; }

.sched {
  padding-top: 40px; }

.session {
  float: right;
  width: 450px;
  height: 75px;
  padding: 5px; }
  .session__column-1 {
    float: left;
    width: 25%;
    height: 70px;
    text-align: right;
    line-height: 1.7rem; }
  .session__column-2 {
    float: left;
    width: 5%;
    height: 70px; }
  .session__column-3 {
    float: left;
    width: 70%;
    height: 70px;
    line-height: 1.2rem; }
  .session__day {
    font-size: 19px;
    color: #E30000;
    font-family: "HN-Bold", Arial, sans-serif;
    margin-top: 5px; }
  .session__time {
    font-size: 30px;
    color: black;
    font-family: "HN-Bold", Arial, sans-serif; }
    .session__time span {
      font-size: 18px; }
  .session__vertical-line {
    width: 1px;
    height: 54px;
    background-color: black;
    border: none; }
  .session__title {
    font-size: 15px;
    color: #E30000;
    margin-top: 6px; }
  .session__instructors {
    font-size: 13px;
    font-family: "HN-Reg",sans-serif; }
  .session__room {
    font-size: 13px;
    font-family: "HN-Bold"; }

.s-today {
  width: 480px;
  height: 480px;
  background-color: #E30000;
  margin-top: 12px; }
  .s-today__info-bar {
    width: 100%;
    height: 100px;
    top: 380px;
    position: relative;
    background-color: #e6e6e6; }
  .s-today__column-1 {
    float: left;
    width: 30%;
    height: 70px;
    text-align: right;
    line-height: 1.7rem; }
  .s-today__column-2 {
    float: left;
    width: 8%;
    height: 70px; }
  .s-today__column-3 {
    float: left;
    width: 62%;
    height: 70px;
    line-height: 1.2rem; }
  .s-today__day {
    font-size: 27px;
    color: #E30000;
    font-family: "HN-Bold", Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 3px; }
  .s-today__time {
    font-size: 38px;
    color: black;
    font-family: "HN-Bold", Arial, sans-serif; }
    .s-today__time span {
      font-size: 26px; }
  .s-today__vertical-line {
    width: 1px;
    height: 74px;
    margin-top: 12px;
    background-color: black;
    border: none; }
  .s-today__title {
    font-size: 16px;
    color: #E30000;
    margin-top: 17px; }
  .s-today__instructors {
    font-size: 14px;
    font-family: "HN-Reg",sans-serif; }
  .s-today__room {
    font-size: 14px;
    font-family: "HN-Bold"; }

/*# sourceMappingURL=main.css.map */
